.leadEngineer.workpackages {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #efefef;
}

.leadEngineer.workpackages__container {
  width: 60vw;
  margin-top: 10px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
}

.leadEngineer.workpackages__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: #262729;
}
