.teamLeader.assignTasks.tasks__eachTask {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: space-between;
}
