.teamLeader.board.board__background {
  display: flex;
  width: 100%;
  height: 100%;
  color: #efefef;
  justify-content: center;
}

.teamLeader.board.board__container {
  margin: 20px 10px;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.teamLeader.board.board__info {
  margin-top: 20px;
  background-color: #1d1d1f;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.teamLeader.board.board__details {
  width: 100%;
  padding-top: 10px;
  display: flex;

  justify-content: space-between;
}

.teamLeader.board.board__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
}

.teamLeader.board.board__stat > b {
  color: #b0b0b0;
  font-weight: bolder;
}
.teamLeader.board.board__column > img {
  object-fit: fill;
  width: 100 px;
  border-radius: 10%;
}

.teamLeader.board.board__statistics {
  margin-top: 10px;
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: #262729;
  min-height: 30vh;
  width: 100%;
}

.teamLeader.board.board__workPackages {
  flex: 0.5;
  height: 300px;
}

.teamLeader.board.board__workPackage {
  background-color: black;
  color: white;
  position: relative;
  margin: 10px 0;
  height: 40px;
  list-style: none;
  width: 100%;
}

.teamLeader.board.board__graph {
  flex: 0.5;
}

.teamLeader.board.board__description {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: white;
}
.teamLeader.board.board__status {
  position: absolute;
  background-color: red;
  height: 100%;
  /* animation: fade 0.9s ease-in; */
}

/* @keyframes fade {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */
