.tpjm.workpackages {
  display: flex;
  background-color: #1d1d1f;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  color: #efefef;
}

.tpjm.workpackages__container {
  margin: 20px 10px 10px 10px;
  padding: 10px;
  display: flex;
  width: 60%;
  flex-direction: column;
}

.tpjm.workpackages__header {
  margin: 10px 10px 10px 10px;

  background-color: #262729;

  display: flex;
  height: 20px;
  align-items: center;
  padding: 10px;
}

.tpjm.workpackages__titleContainer {
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
}
