.tpjm.workpackages {
  display: flex;
  background-color: rgb(79, 184, 184);
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  color: black;
}

.tpjm.workpackages__container {
  margin: 20px 10px 10px 10px;
  padding: 10px;
  display: flex;
  background-color: rgb(6, 143, 143);
  width: 60%;
  flex-direction: column;
}

.tpjm.workpackages__header {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background-color: rgb(6, 143, 143);
  color: white;
  display: flex;
  height: 20px;
  align-items: center;
  padding: 10px;
}

.tpjm.workpackages__titleContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
