.tasks__container {
  max-height: 300px;
}

.tasks__container::-webkit-scrollbar {
  display: none;
}

.tasks__headerRow th {
  background-color: #303133;
  color: #c0c0c0;
}

.tasks__title--actions {
  padding-left: 80px;
}
