.teamLeader.board.board__background {
  display: flex;
  width: 100%;
  height: 100%;
  color: #efefef;
  justify-content: center;
  font-size: 14px;
}

.teamLeader.board.board__container {
  margin: 20px 10px;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.teamLeader.board.board__info {
  margin: 10px 0;
  background-color: #1d1d1f;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.teamLeader.board.board__details {
  width: 100%;
  padding-top: 10px;
  display: flex;

  justify-content: space-between;
}

.teamLeader.board.board__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  font-size: 20px;
}

.teamLeader.board.board__stat > b {
  color: #b0b0b0;
  font-weight: bolder;
}
.teamLeader.board.board__column > img {
  border-radius: 10%;
  object-fit: fill;
  width: 100px;
}

.teamLeader.board.board__statistics {
  margin-top: 20px;
  display: flex;

  padding: 10px;
  background-color: #262729;
  align-items: center;
  min-height: 30vh;
  width: 100%;
}

.teamLeader.board.board__workpackages {
  flex: 0.5;

  padding: 10px;
}

.teamLeader.board.board__workpackage {
  background-color: #414244;
  color: white;
  position: relative;
  margin: 20px 0;
  height: 40px;
  list-style: none;
  width: 100%;
  font-weight: 700;
}

.teamLeader.board.board__workpackages > h3 {
  text-align: center;
  padding: 10px;
}

.teamLeader.board.board__graph {
  flex: 0.5;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamLeader.board.board__workpackageDescription {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: white;
}
.teamLeader.board.board__workpackageStatus {
  position: absolute;
  background-color: #bb432c;
  height: 100%;
}
