.home {
  background: rgb(2, 0, 36);
  background: url(http://www.allwhitebackground.com/images/6/3D-Background-Free-Picture.png)
    center center;
  object-fit: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.home__form > label > input {
  margin: 10px;
  flex: 1;
}

.home__form > button {
  margin: 10px;
}
