.leadEngineer.workpackages {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.leadEngineer.workpackages__container {
  width: 60vw;
  margin-top: 10px;
  min-height: 300px;
  background-color: silver;
  display: flex;
  flex-direction: column;
}

.leadEngineer.workpackages__header {
  display: flex;
  justify-content: center;
}
