.leadEngineer.workpackage {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.leadEngineer.workpackage__details {
  display: flex;
}
.leadEngineer.workpackage__info {
  flex: 0.3;
  padding: 10px;
}

.leadEngineer.workpackage__description {
  flex: 0.7;
  padding: 10px;
}

.leadEngineer.workpackage__tasks {
  padding: 10px;
  flex-direction: column;
}

.leadEngineer.workpackage__tasks > button {
  margin-top: 10px;
  width: 100%;
}
