.tpjm.board.board__background {
  display: flex;
  width: 100%;
  height: 100%;
  color: #efefef;
  justify-content: center;
}

.tpjm.board.board__container {
  margin: 20px 10px;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tpjm.board.board__info {
  margin-top: 20px;
  background-color: #1d1d1f;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tpjm.board.board__details {
  width: 100%;
  padding-top: 10px;
  display: flex;

  justify-content: space-between;
}

.tpjm.board.board__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
}
.tpjm.board.board__column > img {
  border-radius: 25%;
  object-fit: contain;
  height: 100px;
}

.tpjm.board.board__statistics {
  margin-top: 20px;
  display: flex;

  padding: 10px;
  background-color: #262729;
  min-height: 30vh;
  width: 100%;
}

.tpjm.board.board__workPackages {
  flex: 0.5;
  height: 300px;
}

.tpjm.board.board__workPackage {
  background-color: black;
  color: white;
  position: relative;
  margin: 10px 0;
  height: 40px;
  list-style: none;
  width: 100%;
}

.tpjm.board.board__graph {
  flex: 0.5;
}

.tpjm.board.board__description {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: white;
}
.tpjm.board.board__status {
  position: absolute;
  background-color: red;
  height: 100%;
  transition: 2s ease-in;
}
