.tpjm.workpackage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  background-color: #262729;
}
.tpjm.workpackage__details {
}

.tpjm.workpackage__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tpjm.workpackage__actions > button {
  margin: 5px;
}
