.tpjm.workpackage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  background-color: rgb(79, 184, 184);
}
.tpjm.workpackage__details {
  color: rgb(2, 26, 11);
}

.tpjm.workpackage__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tpjm.workpackage__actions > button {
  margin: 5px;
}
