.tpjm.workpackages.workpackages__background {
  display: flex;
  background-color: #303133;
  width: 100%;
  min-height: calc(100vh - 58px);
  justify-content: center;
  color: #efefef;
}

.tpjm.workpackages.workpackages__container {
  margin: 10px 0 0 0;
  padding: 10px;
  display: flex;
  width: 80%;
  flex-direction: column;
}

.tpjm.workpackages.workpackages__header {
  background-color: #1d1d1f;

  position: relative;
  display: flex;
  align-items: center;
}
.tpjm.workpackages.workpackages__header > button {
  position: absolute;
  left: 10px;
}

.tpjm.workpackages.workpackages__title {
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
}
