.engineer.board.board__background {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: #efefef;
  font-size: 14px;
}

.engineer.board.board__container {
  margin: 20px 10px;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.engineer.board.board__userDetails {
  margin: 10px 0;
  padding: 10px;
  background-color: #1d1d1f;
  width: 100%;
  padding-top: 10px;
  display: flex;

  justify-content: space-between;
}

.engineer.board.board__userDetails > img {
  object-fit: fill;
  width: 100px;
  border-radius: 10%;
}
.engineer.board.board__statsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  font-size: 20px;
}

.engineer.board.board__stat > b {
  color: #b0b0b0;
  font-weight: bolder;
}

.engineer.board.board__taskDescription {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: white;
}

.engineer.board.board__statistics {
  margin-left: 10px;
  padding: 10px;
  flex: 0.5;
}
.engineer.board.board__tasks {
  flex: 0.5;
  padding: 10px;

  display: flex;
  flex-direction: column;
}
.engineer.board.board__tasks > h3 {
  text-align: center;
  padding: 10px;
}

.engineer.board.board__task {
  background-color: #414244;
  color: white;
  position: relative;
  margin: 10px 0;
  height: 40px;
  list-style: none;
  width: 100%;
  font-weight: 700;
}

.engineer.board.board__taskStatus {
  position: absolute;
  background-color: #bb432c;
  height: 100%;
}

.engineer.board.board__panel {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #262729;
  min-height: 40vh;
}
.engineer.board.board__graph {
  flex: 0.5;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.engineer.board.board__ftrotPanel {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #262729;
  height: 50vh;
}
