.engineer.tasks.tasks__background {
  display: flex;
  min-height: inherit;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #efefef;
}

.engineer.tasks.tasks__container {
  display: flex;
  height: 100%;

  width: 80vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.engineer.tasks.tasks__weekTitle {
  margin-bottom: 35px;
  background-color: #1d1d1f;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.engineer.tasks.tasks__weekTitle > b {
  color: #b0b0b0;
  font-weight: bolder;
}

.engineer.tasks.tasks__week {
  display: flex;
}

.engineer.tasks.tasks__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.engineer.tasks.tasks__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.engineer.tasks.tasks__arrow > .MuiSvgIcon-root {
  height: 100px;
  width: auto;
  transition: transform 0.2s ease-in;
}

.engineer.tasks.tasks__arrow > .MuiSvgIcon-root:hover {
  height: 100px;
  width: auto;
  color: #b0b0b0;
  transform: scale(1.07);
  cursor: pointer;
}
